body {
    color: rgb(26, 156, 65)
    background: rgb(183, 16, 105);
    margin: 0px;
    }
    
    header{ 
    border-bottom: solid 2px rgb(188, 9, 108);
    padding: 20px;
    font-size: 32px;
    color: rgb(200, 24, 115);
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 60px;
}
p{ 
    font-size: 30px;

}
h2{
    font-size: 20px;
}